langchain
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-experimental
sentence-transformers
faiss-cpu
pdfplumber
pypdf
streamlit
python-dotenv
pandas
scikit-learn
tqdm
